[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/array-lib"]
	path = lib/array-lib
	url = https://github.com/grappafinance/array-lib
[submodule "lib/core-cash"]
	path = lib/core-cash
	url = https://github.com/grappafinance/core-cash
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
